CreateChargeBackReport/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "actions": {
      "Run_query_and_list_results": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "azuremonitorlogs"
            }
          },
          "method": "post",
          "body": "ApiManagementGatewayLogs \n| join ApiManagementGatewayLlmLog on CorrelationId\n| where SequenceNumber == 0 and IsRequestSuccess == true\n| mv-expand TraceRecords\n| extend messageRaw = tostring(TraceRecords[\"message\"])\n| extend clientID = trim(\"ClientID:\", messageRaw)\n| project TimeGenerated, clientID, Region, CallerIpAddress, Cache, ProductId, BackendId, PromptTokens, CompletionTokens, TotalTokens, ModelName\n",
          "path": "/queryData",
          "queries": {
            "subscriptions": "b5b4a11b-5367-41d2-9ec2-fee75c17c5f9",
            "resourcegroups": "aihubchargeback",
            "resourcetype": "Log Analytics Workspace",
            "resourcename": "ChargeBackWorkspace",
            "timerange": "Last 24 hours"
          }
        },
        "runAfter": {}
      },
      "Create_CSV_table": {
        "type": "Table",
        "inputs": {
          "from": "@body('Run_query_and_list_results')?['value']",
          "format": "CSV"
        },
        "runAfter": {
          "Run_query_and_list_results": [
            "SUCCEEDED"
          ]
        }
      },
      "Create_blob_(V2)": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "azureblob-1"
            }
          },
          "method": "post",
          "body": "@body('Create_CSV_table')",
          "headers": {
            "ReadFileMetadataFromServer": true
          },
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('https://aicbgeklcxhvw3ilgu2.blob.core.windows.net/'))}/files",
          "queries": {
            "folderPath": "reportoutput",
            "name": "dailyChargeBackReport.csv",
            "queryParametersSingleEncoded": true
          }
        },
        "runAfter": {
          "Create_CSV_table": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Handle_Query_Failure": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://dce-workflowerrors-bjr6.eastus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-0b1e7503c5ac40508cf645e28fd4b7a0/streams/Custom-WorkflowFailuresStream?api-version=2023-01-01",
          "headers": {
            "Content-Type": "application/json"
          },
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://monitor.azure.com"
          },
          "body": [
            {
              "TimeGenerated": "@{utcNow()}",
              "WorkflowName": "@{workflow().name}",
              "WorkflowRunId": "@{workflow().run.id}",
              "FailureType": "QueryFailure",
              "ActionName": "Run_query_and_list_results",
              "ErrorCode": "@{actions('Run_query_and_list_results')?['error']?['code']}",
              "ErrorMessage": "@{actions('Run_query_and_list_results')?['error']?['message']}",
              "Severity": "High",
              "BlobPath": ""
            }
          ]
        },
        "runAfter": {
          "Run_query_and_list_results": [
            "FAILED",
            "TIMEDOUT",
            "SKIPPED"
          ]
        }
      },
      "Handle_Blob_Write_Failure": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://dce-workflowerrors-bjr6.eastus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-0b1e7503c5ac40508cf645e28fd4b7a0/streams/Custom-WorkflowFailuresStream?api-version=2023-01-01",
          "headers": {
            "Content-Type": "application/json"
          },
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://monitor.azure.com"
          },
          "body": [
            {
              "TimeGenerated": "@{utcNow()}",
              "WorkflowName": "@{workflow().name}",
              "WorkflowRunId": "@{workflow().run.id}",
              "FailureType": "BlobWriteFailure",
              "ActionName": "Create_blob_(V2)",
              "BlobPath": "reportoutput/dailyChargeBackReport.csv",
              "ErrorCode": "@{actions('Create_blob_(V2)')?['error']?['code']}",
              "ErrorMessage": "@{actions('Create_blob_(V2)')?['error']?['message']}",
              "Severity": "High"
            }
          ]
        },
        "runAfter": {
          "Create_blob_(V2)": [
            "FAILED",
            "TIMEDOUT",
            "SKIPPED"
          ]
        }
      }
    },
    "outputs": {},
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "description": "Schedule to kick off chargeback report creation daily",
        "recurrence": {
          "interval": 1,
          "frequency": "Day",
          "timeZone": "Central Standard Time",
          "startTime": "2025-10-10T12:00:00Z"
        }
      }
    }
  },
  "kind": "Stateful"
}
