CreateChargeBackReport/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "description": "Trigger generation of report daily",
        "recurrence": {
          "interval": 24,
          "frequency": "Hour",
          "timeZone": "Central Standard Time"
        }
      }
    },
    "actions": {
      "Run_query_and_list_results": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "azuremonitorlogs"
            }
          },
          "method": "post",
          "body": "ApiManagementGatewayLogs | where TimeGenerated >= ago(24h) | join kind=inner ApiManagementGatewayLlmLog on CorrelationId | where SequenceNumber == 0 and IsRequestSuccess | summarize TotalTokens = sum(TotalTokens), CompletionTokens = sum(CompletionTokens), PromptTokens = sum(PromptTokens), FirstSeen = min(TimeGenerated), LastSeen = max(TimeGenerated), Regions = make_set(Region, 8), CallerIpAddresses = make_set(CallerIpAddress, 8), Caches = make_set(Cache, 8), BackendIds = make_set(BackendId, 8), Calls = count() by ProductId, ModelName | project ProductId, ModelName, PromptTokens, CompletionTokens, TotalTokens, Calls, FirstSeen, LastSeen, Regions, CallerIpAddresses, Caches, BackendIds | order by TotalTokens desc",
          "path": "/queryData",
          "queries": {
            "subscriptions": "b5b4a11b-5367-41d2-9ec2-fee75c17c5f9",
            "resourcegroups": "AIHubChargeBack",
            "resourcetype": "Log Analytics Workspace",
            "resourcename": "ChargeBackWorkspace",
            "timerange": "Set in query"
          }
        },
        "runAfter": {}
      },
      "Create_blob_(V2)": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "azureblob"
            }
          },
          "method": "post",
          "body": "@body('Create_CSV_table')",
          "headers": {
            "ReadFileMetadataFromServer": true
          },
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('https://rptcbeuafktc4lcygi.blob.core.windows.net/'))}/files",
          "queries": {
            "folderPath": "reportoutput",
            "name": "dailyChargeBackReport.csv",
            "queryParametersSingleEncoded": true
          }
        },
        "runAfter": {
          "Create_CSV_table": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Create_CSV_table": {
        "type": "Table",
        "inputs": {
          "from": "@body('Run_query_and_list_results')?['value']",
          "format": "CSV"
        },
        "runAfter": {
          "Run_query_and_list_results": [
            "Succeeded"
          ]
        }
      },
      "Handle_Query_Failure": {
        "type": "Http",
        "inputs": {
          "uri": "https://dce-chargeback-euafktc4lcygi-fw6g.eastus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-2c42beaabe044ef1af3d7421a5b36771/streams/Custom-WorkflowFailuresStream?api-version=2023-01-01",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": [
            {
              "TimeGenerated": "@{utcNow()}",
              "WorkflowName": "@{workflow().name}",
              "WorkflowRunId": "@{workflow().run.id}",
              "FailureType": "QueryFailure",
              "ActionName": "Run_query_and_list_results",
              "ErrorCode": "@{actions('Run_query_and_list_results')?['error']?['code']}",
              "ErrorMessage": "@{actions('Run_query_and_list_results')?['error']?['message']}",
              "Severity": "High",
              "BlobPath": ""
            }
          ],
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://monitor.azure.com"
          }
        },
        "runAfter": {
          "Run_query_and_list_results": [
            "TimedOut",
            "Skipped",
            "Failed"
          ]
        }
      },
      "Handle_Blob_Write_Failure": {
        "type": "Http",
        "inputs": {
          "uri": "https://dce-chargeback-euafktc4lcygi-fw6g.eastus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-2c42beaabe044ef1af3d7421a5b36771/streams/Custom-WorkflowFailuresStream?api-version=2023-01-01",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": [
            {
              "TimeGenerated": "@{utcNow()}",
              "WorkflowName": "@{workflow().name}",
              "WorkflowRunId": "@{workflow().run.id}",
              "FailureType": "BlobWriteFailure",
              "ActionName": "Create_blob_(V2)",
              "BlobPath": "reportoutput/dailyChargeBackReport.csv",
              "ErrorCode": "@{actions('Create_blob_(V2)')?['error']?['code']}",
              "ErrorMessage": "@{actions('Create_blob_(V2)')?['error']?['message']}",
              "Severity": "High"
            }
          ],
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://monitor.azure.com"
          }
        },
        "runAfter": {
          "Create_blob_(V2)": [
            "TimedOut",
            "Skipped",
            "Failed"
          ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "stateful"
}







